@page
@model AutoDJ_Web.Pages.QueueItemTemplateModel
@{ 
    Layout = null;
}

<div class="row card card-body pt-0 pb-0" style="max-height: 70px;">
    <div class="row" style="max-width: 100%">
        <ul class="col-6 list-unstyled mb-0 pt-2" style="font-size: 12px;">
            <li class="text-truncate">@Model.MyItem.Video.Name</li>
            <li class="text-truncate">@Model.MyItem.Video.Channel</li>
            <li class="text-truncate">@Model.MyItem.Video.Duration</li>
        </ul>

        <div class="col-3 p-1 pl-2 float-right">
            <img src="@Model.MyItem.Video.Thumbnail" class="rounded shadow" id="itemThumbnail" width="80" height="60" />
        </div>

        <div class="col-3 btn-group-vertical p-0 pl-3" style="min-width: 80px; max-height:70px">
            <button type="button" class="btn btn-outline-primary" id="addVote_@Model.MyItem.Id" onclick="addVote(@Model.MyItem.Id)" style="font-size: 0.8em; min-width: 80px">Vote (@Model.MyItem.Rating)</button>
            @{string disabled = (bool)Model.CanRemove ? string.Empty : "disabled"; }
            <button type="button" class="btn btn-outline-danger" id="remove_@Model.MyItem.Id" onclick="remove(@Model.MyItem.Id)" style="font-size: 0.8em; min-width: 80px" @disabled>Remove</button>
        </div>
    </div>
</div>

